* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  /* 转换为flex弹性布局元素 */
  display: flex;
  padding: 1em;
  height: 15em;
  border: 1px solid #000;
  margin: 1em;
}

.container > .item {
  height: 2em;
  width: 5em;
  background-color: lightcyan;
  border: 1px solid #000;
}

/* 
1. 任何元素都可以通过添加display:flex;属性，转换为弹性盒元素
2. 转换为flex元素后，它的内部的“子元素”就支持flex布局了
3. 使用了display:flex;属性的元素称为：flex容器
4. flex容器中的子元素称为：flex项目
5. 容器中的项目自动转为行内块元素，不管之前是什么类型 */
.container > .item:nth-of-type(4) {
  display: flex;
}
.container > .item:nth-of-type(4) > div {
  background-color: yellow;
  border: 1px solid #000;
}

/* 工作中会存在大量的flex容器的嵌套布局 */
