* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 15em;
  height: 15em;
  background-color: lightgreen;
}
.child {
  width: 5em;
  height: 5em;
  background-color: orange;
}
/* ------------------------------------- */
/* 使用定位居中 */
/* .parent {
  position: relative;
}
.parent .child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto;
} */
/* ---------------------------------------------- */
/* 使用flex进行居中 */

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
